@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #241e23;
  color: #e0e0e0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --color-bg: #1e2324; */
  --color-bg: #ffffff;
  --color-text: #e0e0e0;
  --color-primary: #7fbf9e;
  --color-secondary: #caa6b8;
  --color-link: #8aaee0;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: var(--color-bg); */
  color: var(--color-text);
  min-width: 320px;
  min-height: 100vh;
}

.bg-institucional {
  background: linear-gradient(to right,
    #1e3a8a 0%,
    #1e3a8a 30%,
    #2563eb 50%,
    rgba(37, 99, 235, 0.6) 70%,
    transparent 100%);
}

a {
  font-weight: 500;
  color: var(--color-link);
  text-decoration: none;
}
a:hover {
  color: var(--color-primary);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #2a2b30;
  color: var(--color-text);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-primary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1 {
  font-size: 2.5em;
  line-height: 1.2;
  color: var(--color-primary);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #f8fefb;
    --color-text: #3b3b3b;
    --color-primary: #a3c9a8;
    --color-secondary: #f7d6e0;
    --color-link: #6b9ac4;

    background-color: var(--color-bg);
    color: var(--color-text);
  }

  button {
    background-color: #f9f9f9;
    color: var(--color-text);
  }

  a:hover {
    color: var(--color-primary);
  }
}
